<div class="container">
  <br>
  <form>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="search">Search Teacher</label>
          <input type="text" class="form-control" name="criteria" id="search" placeholder=""
                 (keyup)="searchTeachersFactory(criteria)"
                 [(ngModel)]="criteria">
        </div>
      </div>
      <div class="col-md-4">
        <label for="skills">Select Skill</label>
        <select name="skill" [(ngModel)]="skill" id="skills" class="form-control" (change)="onDropDownChange(skill)">
          <option *ngFor="let skill of skills" [value]="{id: skill._id, name: skill.name} | json">{{ skill?.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="skills-container">
          <div class="alert alert-warning alert-dismissible fade show" role="alert"
               *ngFor="let skill of selectedSkills; let i = index"
               style="display: inline-block; margin: 3px;">
            <button type="button" (click)="removeSkill(i)" class="close" data-dismiss="alert" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
            {{ skill?.name }}
          </div>
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="selectedSkills.length > 1"
               role="alert" style="display: inline-block; margin: 3px;">
            <button type="button" (click)="removeSkill(-1)" class="close" data-dismiss="alert" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
            Remove
            All
          </div>
        </div>
      </div>
    </div>
  </form>
  <br>
  <!-->Creats the table to display the information of the user
</!-->
<table class="table table-striped table-bordered">
  <tr (click)="getThing()">
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phonenumber</th>
    <th>Email</th>
    <th>Skills</th>
    <th>Resume</th>
  </tr>
  <tr *ngFor="let teacher of teachers" (click)="navigate(teacher._id)">
    <td>{{teacher?.firstname }}</td>
    <td>{{ teacher?.lastname }}</td>
    <td>{{ teacher?.phonenumber }}</td>
    <td>{{ teacher?.email }}</td>
    <td>
      <div *ngFor="let skill of teacher.skills">{{ skill?.name }}</div>
    </td>
    <td><a *ngIf="teacher.filename" href="http://localhost:8080/download/{{teacher?.filename}}">Resume</a></td>
  </tr>
</table>
</div>
