<div class="container">
    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="search">Search Teacher</label>
                    <input type="text" class="form-control" name="criteria" id="search" placeholder="Amount" (keyup)="searchTeacher(criteria)"
                        [(ngModel)]="criteria">
                </div>
            </div>
        </div>
    </form>
    <br>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Phonenumber</th>
            <th>Email</th>
        </tr>
        <tr *ngFor="let teacher of teachers">
            <td>{{teacher?.firstname }}</td>
            <td>{{ teacher?.lastname }}</td>
            <td>{{ teacher?.phone }}</td>
            <td>{{ teacher?.emails }}</td>
        </tr>
    </table>
</div>